<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aeiton.adventro">




    <application
        android:allowBackup="true"
        android:icon="@drawable/adentro_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bb047f3b08506733ee66f1586ae65a6262667148" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDVBVOHJxJ53aLe3BvFghWhIH_UfyMsP5s" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.RegistrationActivity"></activity>
    </application>

</manifest>